#should-be-allowed-by-sass-lint-test-config-yml {
  color: green;
}

.dry-border-for-sass {
  border {
    left: {
      width: 4em;
      color: #333333;
    }
    right: {
      width: 2em;
      color: black;
    }
  }
}

@mixin border-radius ($values) {
  border-radius: $values;
}
nav {
  margin: 20em auto 0;
  width: 786em;
  height: 45em;
  @include border-radius(10em);
}
